﻿body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1901px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1061px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1061px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:522px;
  width:1897px;
  visibility:hidden;
  word-wrap:break-word;
}
